{% extends 'base.html.twig' %}


{% block body %}
    {% if seminaires == [] %}
        <p>Aucun seminaires trouvé</p>
    {% else %}
        <h3>Liste des séminaires</h3>
        <div class="mt-4">
            <img width="200px;" src="build/logo.png" alt="Mon logo">
        </div>

            {% for seminaire in seminaires %}
                {% set d = '+' ~ (seminaire.cours.nbJours - 1) ~ ' day' %}

                <table class="table table-bordered mt-3">
                    <tr>
                        <td>seminaire n° {{ seminaire.id }}</td>
                        <td colspan="2">{{ seminaire.cours.id }} - {{ seminaire.cours.libelleCours }}</td>
                    </tr>
                    <tr>
                        <td>debut : {{ seminaire.dateDebutSeminaire |date("d/m/Y") }}</td>
                        <td>fin : {{ seminaire.dateDebutSeminaire |date_modify(d)|date("d/m/Y") }}</td>
                        <td>nb jours : {{ seminaire.cours.nbJours }}</td>
                    </tr>

                </table>
            {% endfor %}

    {% endif %}
{% endblock %}