{% extends 'base.html.twig' %}

{% block title %}Hello RequeteController!{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success flash-notice">
            {{ message }}
        </div>
    {% endfor %}
<div>
    <img width="200px;" src="{{ asset('build/logo.png') }}" alt="Mon logo">
</div>
    {{  form_start(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    <script src="js/jquery.js"></script>
    <script src="js/datepicker.js"></script>
    <script>
        $(document).ready(function() {

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}
